<mat-toolbar class="app-title">Create Movie</mat-toolbar>
<div class="main-div">
  <mat-card class="center width50">
    <form
      autocomplete="off"
      noValidate
      [formGroup]="form"
      (ngSubmit)="saveMovie()"
      (ngReset)="resetForm()"
    >
      <mat-card-content>
        <app-input-text
          inputName="Title"
          [formGroup]="form"
          controlName="title"
        >
        </app-input-text>

        <app-input-text
          inputName="URL photo"
          [formGroup]="form"
          controlName="urlPhoto"
        >
        </app-input-text>

        <app-input-date
          inputName="Released Date"
          [formGroup]="form"
          controlName="releasedDate"
        >
        </app-input-date>

        <app-input-text-area
          inputName="Description"
          [formGroup]="form"
          controlName="description"
        ></app-input-text-area>

        <app-input-number
          inputName="IMDb Score"
          [formGroup]="form"
          controlName="imdbScore"
          stepValue="2"
        ></app-input-number>

        <app-input-text
          inputName="URL IMDb"
          [formGroup]="form"
          controlName="imdbUrl"
        >
        </app-input-text>
        <app-input-select
          inputName="URL IMDb"
          [formGroup]="form"
          controlName="imdbUrl"
          [options]="categorys"
        ></app-input-select>
      </mat-card-content>

      <mat-card-actions>
        <button type="submit" color="accent" mat-raised-button>Save</button>
        <button type="reset" color="warn" mat-raised-button>Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
