<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<div class="home-content" infiniteScroll (scrolled)="onScroll()">
  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <mat-card-title>{{ movie.title }}</mat-card-title>
      <mat-card-subtitle>{{ movie.category }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.urlPhoto" [alt]="movie.title" />
    <mat-card-content>
      <p>
        {{ movie.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" (click)="open()" mat-raised-button>OPEN</button>
    </mat-card-actions>
  </mat-card>
</div>
